* {
    font-family: Arial, Helvetica, sans-serif;    
    padding: 0;
    margin: 0;
}

/*header part*/
header {
    text-align: center;
    padding: 13px;
}

header a{
    text-decoration: none;
    color: #27ae60;
    margin: 5px;
    font-size: 18px;
}

header a:hover {
    color: #20914f;
}

/*Main Parts*/

main {
    background-color: #f1f2f6;
}

/*partial-action and items part starts*/
.partials-items {
    margin: 18px;
}

.btn {
    margin-left: 13px;
}

h2 {
    font-size: 32px;
    margin-left: 15px;
}

.tbl-full {
    width: 97%;
    margin-left: 30px;
}

table tr th {
    border-bottom: 1px solid #000;
    padding: 1%;
    text-align: left;
}

table tr td {
    padding: 0.5%;
}


/*partial-action and items part ends*/

.indicators {
    text-align: center;
    position: relative;
}

.indicator-items {
    padding: 15px;
    background-color: #c5c5c5;
    margin: 12px;
    margin-left: 25%;
    margin-right: 25%;
}

.indicator-items h2, p {
    text-align: center;
}

.indicator-items p {
    font-size: 23px;
}

.indicator-items p {
    text-align: center;
}

/*Footer part*/
footer {
    background-color: #c5c5c5;
    text-align: center;
    font-size: 18px;
    padding: 13px;
}

/*admin panel stars*/
.add-admin-form, .edit-admin-form {
    margin-left: 16px;
    margin-bottom: 12px;
}

.add-admin-form input, .edit-admin-form input{
    margin-bottom: 5px;
    display: block;
}

.edit-admin-form input{
    width: 20%;
}